<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ScriptEditor.id.RestartXcodeApp</string>
	<key>CFBundleName</key>
	<string>RestartXcodeApp</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>WindowState</key>
	<dict>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>-1</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>333</real>
		<key>savedFrame</key>
		<string>-1704 555 602 597 -1920 72 1920 1080 </string>
		<key>selectedTabView</key>
		<string>result</string>
	</dict>
</dict>
</plist>
