<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- FLOAT -->
	<key>/SEND FLT $TRACK</key>
	<dict>
		<key>description</key>
		<string>Float Parameter</string>
		<key>float</key>
		<dict>
			<key>Max</key>
			<real>10000</real>
			<key>Min</key>
			<real>0</real>
		</dict>
	</dict>
	<!-- INT -->
	<key>/SEND INT $TRACK</key>
	<dict>
		<key>description</key>
		<string>Integer Parameter</string>
		<key>integer</key>
		<dict>
			<key>Max</key>
			<real>100</real>
			<key>Min</key>
			<real>0</real>
		</dict>
	</dict>
	<!-- ENUM -->
	<key>/SEND ENU $TRACK</key>
	<dict>
		<key>description</key>
		<string>Enum Parameter</string>
		<key>integer</key>
		<dict>
			<key>Max</key>
			<real>5</real>
			<key>Min</key>
			<real>0</real>
		</dict>
	</dict>
	<!-- BOOL -->
	<key>/SEND BOL $TRACK</key>
	<dict>
		<key>description</key>
		<string>Boolean Parameter</string>
		<key>integer</key>
		<dict>
			<key>Max</key>
			<real>1</real>
			<key>Min</key>
			<real>0</real>
		</dict>
	</dict>
	<!-- COLOR -->
	<key>/SEND COL $TRACK</key>
	<dict>
		<key>description</key>
		<string>ofColor Parameter</string>
		<key>color</key>
		<dict>
			<key>addressA</key>
			<string>alpha</string>
			<key>addressB</key>
			<string>blue</string>
			<key>addressG</key>
			<string>green</string>
			<key>addressR</key>
			<string>red</string>
			<key>float</key>
			<dict>
				<key>Max</key>
				<real>255</real>
				<key>Min</key>
				<real>0</real>
			</dict>
			<key>shouldSendAlpha</key>
			<true/>
			<key>trackOSCType</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
